
/* SOCIAL BUTTONS */

.social-signups {

}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-weight: 400;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-top: 10px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
    background-color: #324b80;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover {
    background-color: #4286ba;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
}

.or-line {
    width: 100%;
    border-bottom: 1px solid #c6c6c7;
    text-align: center;
    margin: 20px 0;
}

.or-line-text {
    font-size: 15px;
    background-color: #141414;
    padding: 0 10px;
    color: #b6b6b7;
    position: relative;
    top: 10px;
}