.login {
  padding-top: 80px;
  padding-bottom: 150px;
  width: 300px;
  margin: 0 auto -150px;
  min-height: 100vh;
}

.login-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}

.login-inputgroup {
  display: block;
  padding-bottom: 16px;
}

.login-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 500px;
  color: #000;
  line-height: 18px;
  padding: 10px 11px;
  height: 44px;
}

.login-button {
  width: 100%;
}

.signup-link {
  margin-bottom: 5px;
  margin-top: -6px
}

.forget-link {
  margin-top: 32px;
}

.main-login-error {
  color: #B00500;
  position: absolute;
  font-size: 16px;
  margin: 4px 0;
}
