.wrapper {
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    /*border: 1px solid #dedede;*/

}

.form-signin-heading {
    margin-bottom: 40px;
    font-size: 30px;
    color: #337ab7;
}

.wrapper input {
    font-size: 16px;
}

.email-input {
    /*!*margin-bottom: -1px;*!*/
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
}

.password-input {
    margin-bottom: 50px;
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
}