.input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #dedede;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: #A0A0A1;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.button {
  color: white;
  background-color: #4267b2;
}

.button:focus {
  outline: none;
  color: white;
  background-color: #3C5EA3;
}

.button:hover {
  color: white;
  background-color: #3C5EA3;
}

a {
  cursor: pointer;
}

.Loader {
  text-align: center;
  min-height: 600px;
}
.Loader img{
  margin-top: 100px;
  width: 100px;
  height: 100px;
  border: none;
}